<div id="login-container">
  <div class="left">
    <img src="/images/login-img.png" alt="Logo" />
    <h1>Welcome back to <span class="teal-text underline">Trackify</span></h1>
  </div>
  <div class="right">
    <div class="login-slogan">
      <h2>Login!</h2>
      <p>
        Welcome back Trackifiyer! We're happy to have you back and keep up with
        all those goals on your board! Let's build some good habits!
      </p>
    </div>
    <div id="login-content">
      <div id="login-form">
        <form action="/auth/login" method="POST" class="center-align">
          <div class="input-field s6">
            <input
              name="email"
              id="email"
              type="email"
              placeholder="<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>"
              class="validate"
            />
            <label for="email">E-Mail</label>
          </div>
          <div class="input-field s6">
            <input
              name="password"
              id="password"
              type="password"
              placeholder="<%= typeof passwordErrorMessage !== 'undefined' ? passwordErrorMessage : '' %>"
              class="validate"
            />
            <label for="password">Password</label>
          </div>
          <div class="login-btn-section">
            <button
              class="no-capitalization btn waves-effect waves-light"
              type="submit"
              id="login-btn"
            >
              Login
            </button>
            <a href="/"
              >Don't have a Trackify account?
              <span class="bold-login">Create an Account!</span></a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
