<div class="userNav">
  <nav class="interfaceNav">
    <img src="/images/Trackify.png" class="user-pic" onclick="toggleMenu()" />

    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <img src="/images/Trackify.png" />
          <h3>User name</h3>
        </div>
        <hr />

        <a href="/account" class="sub-menu-link">
          <img src="/images/userProfile.png" />
          <p>Edit Profile</p>
          <span></span>
        </a>
        <form action="/logout" method="POST">
          <a href="/account" class="sub-menu-link"></a>
          <img src="/images/logout.png" />
          <p>Logout</p>
          <span>></span>
          </a>
        </form>
      </div>
    </div>
  </nav>
</div>