  <div class="container left">
    <h2>Motivate yourself to achieve your goals.</h2>
  </div>
  <div class="container right yellow lighten-5">
    <h2 class="signup">Create an Account</h2>
    <p>
      It's time to have fun when you get things done! Join over 4 million
      Trackifyers and improve your life one task at a time.
    </p>
    <form class="formHome" action="/auth/signup" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s200">
              <input type="text" id="username" class="validate">
              <label for="username">Username</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s200">
              <input type="email" id="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field">
              <input type="password" id="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
        </div>
      </div>

      <label>
        <input type="file" name="image" accept="image/png, image/jpg" />
      </label>

      <p>
        password mandatory
      </p>
      <button class="waves-effect waves-light btn" type="submit">Create an Account</button>
      <a class="black-text" href="/auth/login">Already have an account? <span>Login!</span></a>
    </form>
  </div>