<div id="home">
  <div class="left">
    <div class="slogan">
      <h1>
        Motivate yourself to achieve your goals! with <span>Trackify</span>
        <img src="images/Lines.png" alt="Lines" />
      </h1>
    </div>
    <img src="images/homePic.png" alt="Image" width="200" />
  </div>

  <div class="right">
    <div class="row">
      <div class="accountLogan">
        <h2 class="signup">Create an Account</h2>
        <p>
          It's time to have fun when you get things done! Join over 4 million
          Trackifyers and improve your life one task at a time.
        </p>
      </div>
      <form
        class="col s12 formHome"
        action="/"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="input-field">
            <input
              type="text"
              name="username"
              id="username"
              class="validate text-field"
              required
              oninput="onUsernameChange()"
            />
            <label for="username">Username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field">
            <input
              type="email"
              name="email"
              id="email"
              class="validate text-field"
              required
              oninput="onEmailChange()"
            />
            <label for="email">Email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field">
            <input
              type="password"
              name="password"
              id="password"
              class="validate text-field"
              required
              class="validate"
              oninput="onPasswordChange()"
            />
            <label for="password">Password</label>
          </div>
        </div>

        <div class="row">
          <div class="file-field input-field">
            <div class="btn">
              <span>Choose Image</span>
              <input
                type="file"
                name="image"
                accept="image/png, image/jpg"
                required
              />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" />
            </div>
          </div>
        </div>
        <!-- Add the error message placeholder -->
        <% if (errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
        <% } %>
        <p>
          <label>
            <input
              id="terms"
              name="terms"
              type="checkbox"
              required
              oninput="onTermsChange()"
            />
            <span
              >I have read and agree to the Terms of Service and Privacy
              Policy</span
            >
          </label>
        </p>
        <br />
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
          id="create-account-btn"
          disabled
        >
          Create an Account
        </button>
        <p>Already have an account? <a href="/auth/login">Login!</a></p>
      </form>
    </div>
  </div>
</div>

<script>
  const formRules = {
    required: (value) => {
      if (value === "" || typeof value === "undefined" || value === null) {
        return "This input is required";
      }
      return true;
    },
    password: (value) => {
      const regex =
        /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+=[\]{}|\\:;"'<>,.?/]).{8,}$/;

      const regexEvaluation = regex.test(value);

      console.log(regexEvaluation);
      if (!regexEvaluation) {
        return "Check the password requirements";
      }
    },
    email: (value) => {
      const regex = /^[\w\.-]+@[a-zA-Z\d\.-]+\.[a-zA-Z]{2,}$/;
      if (!regex.test(value)) {
        return "This is not a valid email";
      }
    },
    equal: (value, valueToCompare) => {
      if (value !== valueToCompare) {
        return `This value must be ${valueToCompare}`;
      }
    },
  };

  const usernameInput = {
    name: "username",
    isValid: null,
    rules: [formRules.required],
  };

  const emailInput = {
    name: "email",
    isValid: null,
    rules: [formRules.required, formRules.email],
  };

  const passwordInput = {
    name: "password",
    isValid: null,
    rules: [formRules.password],
  };

  const termsInput = {
    name: "terms",
    isValid: null,
    rules: [(value) => formRules.equal(value, true)],
  };

  const checkRules = (rules, value) => {
    let isValid = true;
    rules.forEach((rule) => {
      if (typeof rule(value) === "string") {
        isValid = false;
      }
    });
    return isValid;
  };

  const submitButtonToggle = (state) => {
    const btn = document.getElementById("create-account-btn");
    btn.disabled = !state;
  };

  const checkForm = () => {
    const isFormValid =
      usernameInput.isValid &&
      emailInput.isValid &&
      passwordInput.isValid &&
      termsInput.isValid;
    submitButtonToggle(isFormValid);
    return isFormValid;
  };

  const onUsernameChange = () => {
    const input = document.getElementById("username");
    usernameInput.isValid = checkRules(usernameInput.rules, input.value);
    checkForm();
  };

  const onEmailChange = () => {
    const input = document.getElementById("email");
    emailInput.isValid = checkRules(emailInput.rules, input.value);
    checkForm();
  };

  const onPasswordChange = () => {
    const input = document.getElementById("password");
    passwordInput.isValid = checkRules(passwordInput.rules, input.value);
    checkForm();
    console.log(input.value);
  };

  const onTermsChange = () => {
    const input = document.getElementById("terms");
    termsInput.isValid = checkRules(termsInput.rules, input.checked);
    checkForm();
  };
</script>
