@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* LOGIN */

#login-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#login-container .left {
  flex: 1;
  position: relative;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container .left img {
  width: 600px;
  height: 600px;
}

#login-container .left h1 {
  position: absolute;
  top: 1%;
  left: 43%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: #1b1c17;
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  width: 364px;
  height: 50px;
}

#login-container .right {
  flex: 1;
  padding: 20px;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbf9f1;
}

#login-container .right form {
  margin-top: 20px;
}

#login-container .right label {
  font-weight: bold;
}

#login-container .right input {
  width: 500px;
  height: 56px;
  margin-bottom: 32px;
}

.login-slogan {
  width: 500px;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin: center;
  text-align: center;
}

.login-slogan h2 {
  font-family: "Rubik", sans-serif;
}

.login-btn-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-btn-section a {
  color: #48454e;
  font-weight: 500;
}

#login-btn {
  background-color: #78f8de;
  color: #00201a;
  font-size: 14px;
  font-weight: 500;
  width: 500px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.bold-login {
  color: #624bbc;
  font-weight: 700;
}
