@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*Home page left side*/
#home {
  display: flex;
  align-items: center;
}

#home .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  position: relative;
  font-family: "Rubik", sans-serif;
}

#home .left img {
  width: 600px;
  height: 600px;
}

#home .left h1 {
  width: 482px;
  height: 150px;
  position: absolute;
  top: 1%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #1b1c17;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-weight: bold;
}

#home .left h1 img {
  width: 140.207px;
  height: 11.378px;
  position: absolute;
  bottom: 15px;
  right: 180px;
}

#home .left h1 span {
  color: #624bbc;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-weight: bold;
}

/*Home page right side*/
#home .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  padding: 20px;
  background-color: #fbf9f1;
}

.accountLogan {
  width: 500px;
  height: 138px;
  color: #1b1c17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 5px;
  margin: auto;
  text-align: center;
}

.accountLogan h2 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: #1b1c17;
}

.accountLogan p {
  color: #48454e;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.1px;
  margin-bottom: 30px;
}

#home .right form {
  margin-top: 30px;
}

#home .right input {
  width: 500px;
  height: 52px;
  margin-bottom: 10px;
}

#home .text-field {
  background-color: lightgray;
  width: 500px;
  height: 52px;
  margin-bottom: 20px;
  border-radius: 4px 4px 0px 0px;
}

#home .right label {
  margin-left: 8px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

#home .right .row {
  align-content: center;
}

.custom-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 500px;
}

#home button {
  border-radius: 100px;
  width: 500px;
  background: var(--m-3-sys-light-primary, #624bbc);
  margin-bottom: 10px;
}

#home .btn {
  border-radius: 100px;
  background: var(--m-3-sys-light-primary, #624bbc);
}

#home .right form p {
  color: #48454e;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 0.1px;
}

#home .right form p a {
  color: #34bfa7;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: 0.1px;
}

/* LOGIN */

#login-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#login-container .left {
  flex: 1;
  position: relative;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container .left img {
  width: 600px;
  height: 600px;
}

#login-container .left h1 {
  position: absolute;
  top: 1%;
  left: 43%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: #1b1c17;
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  width: 364px;
  height: 50px;
}

#login-container .right {
  flex: 1;
  padding: 20px;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbf9f1;
}

#login-container .right form {
  margin-top: 20px;
}

#login-container .right label {
  font-weight: bold;
}

#login-container .right input {
  width: 500px;
  height: 56px;
  margin-bottom: 32px;
}

.login-slogan {
  width: 500px;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin: center;
  text-align: center;
}

.login-slogan h2 {
  font-family: "Rubik", sans-serif;
}

.login-btn-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-btn-section a {
  color: #48454e;
  font-weight: 500;
}

#login-btn {
  background-color: #78f8de;
  color: #00201a;
  font-size: 14px;
  font-weight: 500;
  width: 500px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 16px;
  max-width: 300px;
}

.bold-login {
  color: #624bbc;
  font-weight: 700;
}

/* Nav bar main page */
nav {
  margin: 0;
  background: #fbf9f1;
}

nav a {
  color: #1b1c17;
  font-family: Rubik One;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  margin-left: 30px;
}

nav ul a {
  padding: 0;
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

nav img {
  margin-top: 10px;
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

/* Profile */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.habit-section,
.daily-section,
.todo-section {
  width: 459px;
  height: 869px;
  margin-top: 184px;
  background-color: #f5f5f5;
  border-radius: 24px;
  margin-right: 24px;
  padding: 24px;
}

.card-title {
  text-align: center;
  border-bottom: 1px solid #979797;
  font-size: 20px;
  color: #1b1c17;
  font-weight: 700;
  font-family: Rubik;
  padding: 8px 10px 30px 10px;
}

.cards-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*mobile*/
@media (max-width: 767px) {
   #home .left {
    display: none;
  }
  
  #login-container .left {
    display: none;
  }

  .input-field {
    max-width: 300px;
  }

  .login-slogan {
    max-width: 300px;
  }

  #login-container .right form {
    max-width: 300px;
  }

  #login-container .right label {
    max-width: 300px;
  }

  #login-container .right input {
    max-width: 300px;
  }

  body {
    background-color: #fbf9f1;
    margin: auto;
  }
}
